@CHARSET "UTF-8";


.dialog-panel.to-edit-book {
	
}

.dialog-panel.to-edit-book>.unit {
	
}

.dialog-panel.to-edit-book>.unit>.row {
	
}

.dialog-panel.to-edit-book>.unit>.row>.text.required {
	color: red;
}

.dialog-panel.to-edit-book>.unit>.row>.label {
	width: 100px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable {
	
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=author] {
	width: 120px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=isbn] {
	width: 150px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=bookSize] {
	width: 100px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=pageNumber] {
	width: 100px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=edition] {
	width: 100px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=originalCost]
	{
	width: 80px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=discountRatio]
	{
	width: 80px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=starLevel] {
	width: 80px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=totalInventory]
	{
	width: 80px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=firstClassify]
	{
	width: 120px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=secondClassify]
	{
	width: 120px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=thirdClassify]
	{
	width: 120px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=fourthClassify]
	{
	width: 120px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=directory] {
	width: 520px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=bookDescription]
	{
	width: 520px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=translator] {
	width: 520px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=foreword] {
	width: 520px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=preface] {
	width: 520px;
}

.dialog-panel.to-edit-book>.unit>.row>.editable>input[name=remark] {
	width: 520px;
}