@CHARSET "UTF-8";

@IMPORT url("../../module/admin_frame/admin_frame.css");

body {
	padding: 0px;
	margin: 0px;
}

.top {
	position: static;
	height: 40px;
	font-size: 14px;
	overflow: hidden;
	border: 0px solid #000000;
}

.left-menu {
	position: static;
	width: 200px;
}

.page {
	
}

.bottom {
	position: static;
	height: 40px;
	font-size: 14px;
	overflow: hidden;
	border: 0px solid #000000;
}