@CHARSET "UTF-8";

.page-content>.unit.user-info>.row.actions {
	
}

.page-content>.unit.user-info>.row.actions>button {
	cursor: pointer;
	position: static;
	display: block;
	width: 280px;
	height: 30px;
	color: #CCCCCC;
	background-color: #FFFFFF;
	border: 1px solid #EFEFEF;
}

.page-content>.unit.user-info>.row.actions>button:HOVER {
	color: #666666;
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
}