@CHARSET "UTF-8";

.page-content {
	position: static;
	display: block;
	padding: 10px;
	clear: both;
}

.page-content>.title {
	position: static;
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #EFEFEF;
	border-bottom: 1px solid #000000;
	clear: both;
}

.page-content>.query-result {
	position: static;
	display: block;
	clear: both;
}

.dialog-panel {
	position: static;
	display: block;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	clear: both;
}

.dialog-panel>.message {
	position: static;
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #FF0000;
	background-color: #FFFF00;
	line-height: 20px;
	clear: both;
	border: 1px solid #CCCCCC;
}

.dialog-panel>.message.h {
	visibility: hidden;
}

.form-panel {
	position: static;
	display: block;
	clear: both;
}

.form-panel>.title {
	position: static;
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	clear: both;
}

.form-panel>.content {
	position: static;
	display: block;
	padding: 10px;
	line-height: 30px;
	border: 1px solid #CCCCCC;
	clear: both;
}

.form-panel>.content>.actions {
	padding-top: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-panel>.content>.actions>button {
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

.form-panel>.content>.actions>button:HOVER {
	background-color: #EFEFEF;
	border: 1px solid #AAAAAA;
}