@CHARSET "UTF-8";

@IMPORT url("../../module/portal_page/portal_page.css");

body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: "新宋体";
	background-color: #FFEFDE;
}

body>div {
	width: 1000px;
	margin: 0 auto;
}











